<header class="header">
    <div class="left">
        <div class="logo">
            <h3 class="logo_placeholder">
                emiPAYlelo
            </h3>
        </div>
    </div>
    <div class="right">
        <nav class="navigation_menu">
            <ul class="header_menu">

                <li class="header_menu_item" *ngIf="isUserOnSignUpPage()"> 
                    <a routerLink="login" class="header_menu_item_link">Login</a>
                </li>
                <li class="header_menu_item" *ngIf="isUserLoggedIn()"> 
                    <a routerLink="orders" class="header_menu_item_link">Orders</a>
                </li>
                <li class="header_menu_item" *ngIf="isUserLoggedIn()"> 
                    <a routerLink="transactions" class="header_menu_item_link">Transactions</a>
                </li>
                <li class="header_menu_item" *ngIf="isUserLoggedIn()"> 
                    <a routerLink="profiledetails" class="header_menu_item_link">Profile</a>
                </li>
                <li class="header_menu_item" *ngIf="isUserLoggedIn() || isAdminLoggedIn()"> 
                    <a routerLink="login" class="header_menu_item_link">Logout</a>
                </li>
                <li class="header_menu_item" *ngIf="isUserOnLoginPage() && !isUserLoggedIn()"> 
                    <a routerLink="signup" class="header_menu_item_link">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>