<header>
    emiPAYlelo
    <button style="font-size: 15px;" class="btn  float-right " type="submit">
        Login
    </button>

</header>
<br><br><br><br>

<div class="boxed">
    <div class="form" style="font-size: 30px;align-items: center;
        justify-content: center; padding: 20px 100px; color: #0347F7;">FORGOT PASSWORD</div>



    <form #forgotPasswordForm="ngForm" (ngSubmit)="checkForm(forgotPasswordForm)" style="align-items: center;">
        <fieldset class="border p-2 w-100">
            <legend class="w-25">Email</legend>
            <input type="email" class="no-outline" id="email" placeholder="Enter email" name="email"
                style="width:300px; height: 40px;">
            <button style="font-size: 15px;" id="btn2" class="btn  float-right " type="submit">
                Send code
            </button>
        </fieldset>
        <br>
        <fieldset class="border p-2 w-100">
            <legend class="w-25">Code</legend>
            <input type="text" class="no-outline" id="code" placeholder="Enter code" name="code"
                style="width:300px; height: 40px;">
        </fieldset>
        <br>
        <fieldset class="border p-2 w-100">
            <legend>Password</legend>
            <input type="password" placeholder="Enter Password" name="psw" required #pwd="ngModel"
                [(ngModel)]="fp.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                style="width:300px; height: 40px;">
            <i class="far fa-eye" id="togglePassword"></i>
            <div *ngIf="pwd.invalid &&(pwd.dirty||pwd.touched)" style="color: red;">
                <div *ngIf="pwd.errors?.required">Password required</div>
                <div *ngIf="pwd.errors?.pattern">Pattern is invalid</div>
            </div>
        </fieldset>
        <br>
        <fieldset class="border p-2 w-100 ">
            <legend>Confirm Password</legend>
            <input type="password" placeholder="Confirm Password" name="cpsw" required #cpwd="ngModel"
                [(ngModel)]="fp.cpassword"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                style="width:300px; height: 40px;" style="width:300px; height: 40px;">
            <div *ngIf="cpwd.invalid &&(cpwd.dirty||cpwd.touched)" style="color: red;">
                <div *ngIf="cpwd.errors?.required">Password required</div>
                <div *ngIf="cpwd.errors?.pattern">Pattern is invalid</div>
            </div>
        </fieldset>
        <br><br><br>
        <button style="width: 400px;" type="submit" id="btn1" class="btn btn-default">Submit</button>
    </form>

</div>