<div class="sign_up login">
    <h3 class="form_heading">BANK DETAILS</h3>



    <form #bankDetailForm="ngForm" (ngSubmit)="setUserBankDetails(bankDetailForm)" class="form_class">
        <div class="input_wrapper">
            <label for="accountName">Account Holder Name</label>
            <input type="text" class="no-outline" required id="an" placeholder="Enter account holder name"
                name="accountName">

        </div>
        <div class="input_wrapper">
            <label for="accountNumber">Account Number</label>
            <input type="number" class="no-outline" required #acno="ngModel" [(ngModel)]="bankDetail.bankAccountNo"
                id="an" placeholder="Enter account number" name="accountNumber">
            <div *ngIf=" acno.invalid &&(acno.dirty||acno.touched)" style="color: red;">
                <div *ngIf="acno.errors?.required">Account Number Required</div>
                <br>
            </div>
        </div>

        <div class="input_wrapper">
            <label for="ifsc">Bank IFSC Code</label>
            <input type="text" class="no-outline" required (input)="getBankName($event.target)" id="ifsc"
                placeholder="Enter IFSC" name="ifsc" [(ngModel)]="bankDetail.bankIfsc">
        </div>

        <!-- Input field value should change to bank name -->
        <div class="input_wrapper">
            <label for="bankName">Bank Name</label>
            <input type="text" name="bankName" [(ngModel)]="bankDetail.bankName">

        </div>

        <button type="submit" id="btn1" [disabled]="!bankDetailForm.form.valid"
            class="submit_button btn btn-default">Submit</button>
    </form>
</div>