 

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

 *,html,body{
     margin: 0%;
     font-size: 10px;
    font-family: 'Karla', sans-serif;   
    
 }
 div{
     font-family: 'Karla', sans-serif;
 }
 header{
    position: relative; 
    background-color:#0347F7;
    height: 80px;
    width:100%;  
    padding: 3rem 3rem;
    font-size: x-large;
    color: white;
    text-shadow: 3px;
   
}
body{
    position: relative;
}
#headerContent{
    margin: 0 auto; width: 960px;
}
 .btn {
            
           
            background-color: transparent;
            color:white;
            text-decoration: underline;
            text-decoration-color:white;
            font-size: 20px;
        }
        .grid-container {
        display: grid;
        grid-template-columns: 600px 800px 700px 0px;
         
        grid-gap: 10px;
        padding-top: 0px;
        }

#btn1{
     color:white;
     background-color: #0347F7;
       font-size: 15px; 
       border-top: 30px;
       border-top-left-radius:25px; 
        
border-top-right-radius:25px;  
border-bottom-right-radius:25px;  
border-bottom-left-radius:25px; 
       
}
legend {
    width: 240px;
    border-color: #0347F7;
    color: #0347F7;
}
.form{
    display: grid;
  justify-content: center;
 

}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-size: 20px;
}

.no-outline:focus {
  outline: none;
}
::placeholder{
    font-size: 14px;
}
fieldset{
    border-color: #0347F7;
    color: #0347F7;
}
#btn2{
     color:#0347F7;
    
       font-size: 15px; 
       border-top: 30px;
       border-top-left-radius:25px; 
        
border-top-right-radius:25px;  
border-bottom-right-radius:25px;  
border-bottom-left-radius:25px; 
       
}
.boxed {
  border: 1px solid green ;
  /* border:;border-width:4px; border-style:solid;;width: 540px;padding-left: 100px; */

  margin: auto;
  width: 50%;
  border: 3px solid #0347F7;
  padding: 10px;
  height: 550px;
  border-width: 2px;
}
#btn5{
  width: 220px;
  height:50%;
  margin: 70px;
  border-top: #0347F7;
  border-bottom: #0347F7;
  border-left: #0347F7;
  border-right: #0347F7;
  border:3px;
  color: #0347F7;
  background-color: aliceblue;
}