 


 /* header{
    position: relative; 
    background-color:#0347F7;
    height: 80px;
    width:100%;  
    padding: 3rem 3rem;
    font-size: x-large;
    color: white;
    text-shadow: 3px;
   
} */

#headerContent{
    margin: 0 auto; width: 960px;
}
 /* .btn {
            
           
            background-color: transparent;
            color:white;
            text-decoration-color:white;
            font-size: 20px;
        }
        .grid-container {
        display: grid;
        grid-template-columns: 600px 800px 700px 0px;
         
        grid-gap: 10px;
        padding-top: 0px;
        }
 */

legend {
    width: 240px;
    border-color: #0347F7;
    color: #0347F7;
}
/* input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-size: 20px;
} */

.no-outline:focus {
  outline: none;
}
::placeholder{
    font-size: 14px;
}
fieldset{
    border-color: #0347F7;
    color: #0347F7;
}


