 


 /* header{
    position: relative; 
    background-color:#0347F7;
    height: 80px;
    width:100%;  
    padding: 3rem 3rem;
    font-size: x-large;
    color: white;
    text-shadow: 3px;
   
} */

#headerContent{
    margin: 0 auto; width: 960px;
}
 /* .btn {
            
           
            background-color: transparent;
            color:white;
            text-decoration-color:white;
            font-size: 20px;
        }
        .grid-container {
        display: grid;
        grid-template-columns: 600px 800px 700px 0px;
         
        grid-gap: 10px;
        padding-top: 0px;
        }
 */

legend {
    width: 240px;
    border-color: #0347F7;
    color: #0347F7;
}
/* input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-size: 20px;
} */

.no-outline:focus {
  outline: none;
}
::placeholder{
    font-size: 14px;
}
fieldset{
    border-color: #0347F7;
    color: #0347F7;
}


.sign_up {
  /* border:;border-width:4px; border-style:solid;;width: 540px;padding-left: 100px; */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  grid-gap: 1rem;
  position: relative;
  width: 55rem;
  height: 50rem;
  border: 3px solid #0347F7;
  padding: 2rem;
  border-width: 2px;
  justify-content: center;
  box-shadow: 0 8px 6px -5px #8EDCFF;  
}

.form_heading{
  text-align: center;
  font-size: 2.5rem;
  color: #0347F7;
  margin: 0;
}

.input_wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  position: relative;
}

.input_wrapper label {
  font-size: 1.3rem;
  line-height: 1;
}

input{
  outline: none;
  font-size: 1.7rem;
  border: 2px solid #333;
  padding: .3rem 1rem;
  border-radius: 0rem;
  transition: .6s all;
}

input:focus{
  border-color: #0347F7;
  border-radius: .5rem;
}

.form_class{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  
}

#btn1{
  outline: none;
  border-radius: 2.5rem;
  border: none;
  color:white;
  background-color: #0347F7;
  font-size: 15px;       
  transition: .3s all;
  text-transform: uppercase;
}

#btn1:hover{
  transform: translateY(-3%);
}

#btn1:active {
  transform: translateY(3%);
}

.double_input_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
}