<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js"></script>
    <title></title>
    
</head>

<body>
    <app-navbar-component></app-navbar-component>
    <div class="custom_container">
        <!-- <app-admin-dashboard></app-admin-dashboard> -->
        <!-- <app-bank-details></app-bank-details> -->
        <!-- <app-card-selection></app-card-selection> -->
        <!-- <app-error></app-error> -->
        <!-- <app-forgot-password></app-forgot-password> -->
        <!-- <app-login></app-login> -->
        <!-- <app-orders></app-orders> -->
        <!-- <app-sign-up></app-sign-up> -->
        <!-- <app-payment-successful></app-payment-successful> -->
        <!-- <app-bank-details></app-bank-details> -->
        <!-- <app-transactions></app-transactions> -->
        <!-- <app-upload-docs></app-upload-docs> -->
        <!-- <app-file-upload></app-file-upload> -->
        <!-- <router-outlet></router-outlet> -->
        <app-shopping-page></app-shopping-page>
    </div>
    
    <script>
        window.onload = function(){
            jQuery(document).ready(function($){
                $('.stats_count').counterUp({
                    delay: 10,
                    time: 2000
                });
            });
        }
        
    </script>
</body>

</html>