<!-- <app-admin-dashboard></app-admin-dashboard> -->
<app-bank-details></app-bank-details>
<!-- <app-card-selection></app-card-selection> -->
<!-- <app-error></app-error> -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-login></app-login> -->
<!-- <app-orders></app-orders> -->
<!-- <app-sign-up></app-sign-up> -->
<!--   -->
<!-- <app-bank-details></app-bank-details> -->
<!-- <app-transactions></app-transactions> -->
<!-- <app-upload-docs></app-upload-docs> -->
<!-- <app-file-upload></app-file-upload> -->