<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <title></title>
</head>

<body>
    <header class="header">
        <div class="left">
            <div class="logo">
                <h3 class="logo_placeholder">
                    emiPAYlelo
                </h3>
            </div>
        </div>
        <div class="right">
            <nav class="navigation_menu">
                <ul class="header_menu">

                    <li class="header_menu_item">
                        <a href="#" class="header_menu_item_link">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="custom_container">
        <!-- <app-admin-dashboard></app-admin-dashboard> -->
        <!-- <app-bank-details></app-bank-details> -->
        <!-- <app-card-selection></app-card-selection> -->
        <!-- <app-error></app-error> -->
        <!-- <app-forgot-password></app-forgot-password> -->
        <!-- <app-login></app-login> -->
        <!-- <app-orders></app-orders> -->
        <!-- <app-sign-up></app-sign-up> -->
        <!-- <app-payment-successful></app-payment-successful> -->
        <!-- <app-bank-details></app-bank-details> -->
        <!-- <app-transactions></app-transactions> -->
        <!-- <app-upload-docs></app-upload-docs> -->
        <!-- <app-file-upload></app-file-upload> -->
        <!-- <router-outlet></router-outlet> -->
        <app-shopping-page></app-shopping-page>
    </div>


</body>

</html>