<!-- <div style="color:green;font-size: larger;width: 30px;height: 30px;">{{cardSelected}}</div> -->
<div class="sign_up card_selection login">
    <div class="form_heading">CARD SELECTION<br></div>
    <form #cardSelectionForm="ngForm" (ngSubmit)="setUserCardType(cardSelectionForm)" class="form_class">
        <div class="grid-container form_class">
            <div class="cards_container">
                <input class="card_input" id="gold" type="radio" name="card_type" [value]="cards[1].cardTypeId"
                    [(ngModel)]="cardIsSelected.cardTypeId" checked>
                <div class="card_container">
                    <div class="card gold_card">
                        <span class="card_type_title">{{cards[0].cardType}}</span>
                        <span class="card_type_credit_limit">TOTAL CREDIT - ₹ {{cards[0].cardLimit}}</span>
                        <span class="card_type_joining_fee">JOINING FEE - ₹ {{cards[0].cardJoiningFee}}</span>
                    </div>
                    <label for="gold" class="card_label">
                    </label>
                </div>

                <input class="card_input" id="titanium" type="radio" name="card_type" [value]="cards[0].cardTypeId"
                    [(ngModel)]="cardIsSelected.cardTypeId">
                <div class="card_container">
                    <div class="card titanium_card">
                        <span class="card_type_title">{{cards[1].cardType}}</span>
                        <span class="card_type_credit_limit">TOTAL CREDIT - ₹ {{cards[1].cardLimit}}</span>
                        <span class="card_type_joining_fee">JOINING FEE - ₹ {{cards[1].cardJoiningFee}}</span>
                    </div>
                    <label for="titanium" class="card_label">
                    </label>

                </div>
            </div>
            <button type="submit" id="btn1" [disabled]="!cardSelectionForm.form.valid"
                class="submit_button btn btn-default">Submit</button>
        </div>
    </form>
</div>

<!-- <div style="color:green;font-size: larger;width: 30px;height: 30px;">{{cardSelected}}</div> -->
<!-- 
<div class="grid-container">


    




    <button style="width: 150px; height:30px;" class="selectgold" type="submit" (click)="goldSelected()">Select
        Gold</button>
    <button style="width: 150px; height:30px;" class="selecttitanium" type="submit" (click)="titaniumSelected()">Select
        Titanium</button>

</div> -->