<div class="sign_up login">
    <h3 class="form_heading">LOGIN</h3>


    <form #loginForm="ngForm" class="form" (ngSubmit)="checkLogin(loginForm)" class="form_class">
        <div class="input_wrapper">
            <label for="email">Email</label>
            <input type="email" required #em="ngModel" placeholder="Enter Email Address" name="email"
                [(ngModel)]="user.userEmail" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" />
            <div *ngIf=" em.invalid &&(em.dirty||em.touched)" style="color: red;">
                <div *ngIf="em.errors?.required">Email required</div>
                <div *ngIf="em.errors?.pattern">Email is invalid</div>

            </div>
        </div>
        <!-- <fieldset class="border p-2 w-100">
            <legend class="w-25">Email</legend>

            
        </fieldset><br> -->

        <div class="input_wrapper">
            <label for="psw">Password</label>
            <input type="password" class="no-outline" name="psw" required #pwd="ngModel" [(ngModel)]="user.userPassword"
                id="password" placeholder=" Enter password" name="password">

            <div *ngIf="pwd.invalid &&(pwd.dirty||pwd.touched)" style="color: red;">
                <div *ngIf="pwd.errors?.required">Password required</div>
                <div *ngIf="pwd.errors?.pattern">Password is invalid</div>

            </div>
        </div>
        <!-- <fieldset class="border p-2 w-100">
            <legend>Password</legend>
            

        </fieldset>
        <br><br> -->
        <div class="input_wrapper checkbox_wrapper">
            <input type="checkbox" name="remember">
            <label style="font-size: 15px; color: #0347F7;">REMEMBER ME</label>
        </div>

        <div class="forgot_password">
            <a href="#">FORGOT PASSWORD?</a>
        </div>
        <div class="double_input_wrapper">
            <div class="input_wrapper radio_wrapper">
                <input type="radio" id="admin" name="user_type" value="admin" [(ngModel)]="radioButton">
                <label for="admin">ADMIN</label>
            </div>
            <div class="input_wrapper radio_wrapper">
                <input type="radio" id="user" name="user_type" value="user" [(ngModel)]="radioButton">
                <label for="user">USER</label>
            </div>
        </div>
        <button type="submit" id="btn1" class="submit_button btn btn-default">Submit</button>

    </form>
    <!-- <form action="/action_page.php">
                <div class="form-group">
                    <label for="email" style=" color: #0347F7;font-size: 20px;">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                        style="width:300px; height: 40px;">
                </div>
                <br>
                <div class="form-group">
                    <label for="pwd" style=" color: #0347F7;font-size: 20px;">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"
                        style="width:300px; height: 40px;">
                </div>
                <br>
                <div class="checkbox" style="padding-left: 80px;">
                    <label style="font-size: 15px; color: #0347F7;"><input type="checkbox" name="remember"> Remember
                        me</label>
                </div>
                <br> <br>
                <div style="color: #0347F7;padding-left: 80px;font-size: 20px;"> Forgot Password?</div><br>
                <input type="radio" style="padding-left: 0px;" id="admin" name="admin" value="admin">
                <label for="admin" style="color: #0347F7; font-size: 12px;padding-left: 0px;padding-right: 40px;display: inline-block;
                    vertical-align: top;
                    margin-right: 3%;">ADMIN</label>
                <input style="padding-left: 60px;padding-right: 60px;display: inline-block;
                        vertical-align: top;" type="radio" id="user" name="user" value="user">
                <label style="color: #0347F7;font-size: 12px;padding-left: 10px;padding-right: 40px; display: inline-block;
                        vertical-align: top;
                        margin-right: 3%;" for="user">USER</label>

                <br><br>
                <button style="width: 300px;" type="submit" id="btn1" class="btn btn-default">Submit</button>

            </form> -->