<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>emi<span>PAY</span>lelo</h1>
        </div>
        <ul class="navigation">
            <a>
                <li>Orders</li>
            </a>
            <a>
                <li>Transactions</li>
            </a>
            <a>
                <li>Log Out</li>
            </a>
        </ul>
    </div>
</div>

<div class="card">
    **** **** **** **42
    <div class=exp_date>
        07/25
        <div class=cvv>
            101
            <div class=card_name>
                {{order.cardHolderName}}
            </div>
        </div>
    </div>
</div>
<div class="card1">
    Remaining Credit - {{order.remainingCredit}}
</div>

<div class="card2">
    Payment Due - ₹26,500
</div>
<div class="orders">
    Orders
</div>
<div class=order_card>
    <img src={{product.productImg}} height="127" width="72">
    <div class=prod_no>
        #12345
    </div>
</div>
<div class=mob_name>
    {{product.productName}}
</div>
<div class=price>
    {{product.productPrice}}
</div>
<div class=install>
    (5000 + 2000 * 5 Months)
</div>
<div class=card_no>
    **** **** **** **42
</div>
<div class=date>
    02-04-2021
</div>