/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #0347F7;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'karla';
    font-size: 32px;
}

.logo_container h1 span{
    font-weight: 1000;
}


.navigation{
   float: right;
   height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Karla';
    font-size: 16px;
}

.card {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    line-height: 150px;
    width: 500px; 
    height: 250px; 
    background-color: #FFB302; 
    background-image: linear-gradient(to right, orange , yellow);
    border-radius: 25px;
    position: fixed;
    top: 30%;
    left: 8%;
    margin-top: -100px;
    margin-left: -100px;
    }
    
    .exp_date{
        color: white;
    font-size: 24px;
    font-weight: 800;
    text-align: start;
    position: fixed;
    left: 5%;
    top: 25%;
    }
    
    .card_name {
        color: white;
        font-size: 24px;
        font-weight: 800;
        text-align: start;
        position: fixed;
        left: 5%;
        top: 33%; 
    }
    
    .cvv {
        color: white;
    font-size: 24px;
    font-weight: 800;
    text-align: start;
    position: fixed;
    left: 23%;
    top: 25%;
    }
    
    .card1 {
        font-size: 25px;
        font-weight: 600;
        color: #0347F7;
        text-align: center;
        line-height: 100px;
        width: 500px; 
        height: 100px; 
        border-radius: 25px;
        border-style: solid;
        border-color: #0347F7;
        position: fixed;
        top: 68%;
        left: 8%;
        margin-top: -100px;
        margin-left: -100px;
        }
    
        .card2 {
        font-size: 25px;
        font-weight: 600;
        color: #0347F7;
        text-align: center;
        line-height: 100px;
        width: 500px; 
        height: 100px; 
        border-radius: 25px;
        border-style: solid;
        border-color: #0347F7;
        position: fixed;
        top: 85%;
        left: 8%;
        margin-top: -100px;
        margin-left: -100px;
        }

        .orders {
            font-size: 30px;
            font-weight: 800;
            text-align: center;
            color: #0347F7;
            position: fixed;
            top: 30%;
            left: 47%;
            margin-top: -100px;
            margin-left: -100px;
        }
       
    .order_card {
    width: 700px; 
    height: 150px; 
    text-align: center;
    line-height: 55px;
    border-radius: 25px;
    border-style: solid;
    border-color: #0347F7;
    position: fixed;
    top: 37%;
    left: 45%;
    margin-top: -100px;
    margin-left: -100px;
        }
        .prod_no {
            font-size: 14px;
            font-weight: 600;
            color: #0347F7;
            position: fixed;
            top: 37%;
            left: 57%;
            margin-top: -100px;
            margin-left: -100px;
        }
        .mob_name{
            font-size: 20px;
            font-weight: 700;
            color: #0347F7;
            position: fixed;
            top: 43%;
            left: 57%;
            margin-top: -100px;
            margin-left: -100px;
        }
        .price {
            font-size: 16px;
            font-weight: 600;
            color: #0347F7;
            position: fixed;
            top: 47%;
            left: 57%;
            margin-top: -100px;
            margin-left: -100px;
        }
        .install {
            font-size: 16px;
            font-weight: 600;
            color: #00B9F5;
            position: fixed;
            top: 47%;
            left: 62%;
            margin-top: -100px;
            margin-left: -100px;

        }
        .card_no{
            font-size: 16px;
            font-weight: 600;
            color: #0347F7;
            position: fixed;
            top: 51%;
            left: 57%;
            margin-top: -100px;
            margin-left: -100px; 
        }
        .date {
            font-size: 16px;
            font-weight: 600;
            color: #0347F7;
            position: fixed;
            top: 54%;
            left: 57%;
            margin-top: -100px;
            margin-left: -100px;  
        }
        img{
          float: left; 
          margin-left: 50px;
          margin-top: 13px;
        }
    * {
        font-family: sans-serif; 
      }
 */
.dashboard_grid{
    display: grid;
    grid-template-columns: calc(100vw - 6rem - 66vw) calc(100vw - 6rem - 33vw);
    padding: 1rem;
}

.dashboard_card{
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: .1rem;
    grid-template-columns: 1fr;
    border-radius: .5rem;
    padding: 1.5rem;
}

.gold_card{
    background-image: linear-gradient(to right bottom, #ffb502, #fed901);
}
.stats_column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding: 2rem 1rem;
   
}

.more_details_column{
    padding: 2rem 1rem;
}
.page_title{
    font-size: 2rem;
    font-weight: 700;
    color: #0347f7;
}

.stats_container{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #0347f7;
    padding: 1.5rem;
    grid-gap: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.1);
    max-height: 12rem;
}

.single_column{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
    grid-gap: 1rem;
}

.stats_title{
    font-size: 2rem;
    color: #000;
}
.stats_count{
    font-size: 3.5rem;
    font-weight: 700;
    color: #0347f7;
}
.sticker{
    width: 5rem;
    height: 4rem;
}
.card_holder_name{
    text-transform: uppercase;
}
.card_wrapper{
    display: grid;
    grid-template-columns: 1fr;
}
.card_company_logo{
    width: 5rem;
    height: 2rem;
    align-self: center;
    justify-self: end;
}

.double_column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 2rem 1rem;
}
.double_column_no_padding, .single_column{
    padding: 0rem;
}
.card_number{
    font-size: 3rem;
    justify-self: start;
    color: white;
}

.orders_grid{
    display: grid;
    grid-template-columns: 1fr;
}
.order_wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1.5rem;
    border: 1px solid #0347f7;
    border-radius: .5rem;
    grid-gap: 1rem;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,.1);
}

.order_image_wrapper{
    width: 100%;
    height: 100%;
}

.order_image_wrapper > img{
    width: 100%;
    height: 100%;
}

.order_details_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
}
.order_amount{
    color: #0347f7;
}