/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*, html, body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
}

h3{
    line-height: 1;
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: relative; 
    background-color:#0347F7;
    height: 8rem;
    width:100%;  
    color: white;
    box-shadow: 0 8px 6px -6px #8EDCFF;  
}

.logo_placeholder{
    font-size: 2.5rem;
    margin: 0;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation_menu{
    display: flex;
}

.header_menu{
    margin: 0;
    list-style-type: none;
}
.header_menu_item_link{
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
}

.custom_container{
    width: 100%;
    height: calc(100% - 8rem);
    position: relative;
}

input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    border: 1px solid black;
}

.sign_up {
    /* border:;border-width:4px; border-style:solid;;width: 540px;padding-left: 100px; */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    grid-gap: 1rem;
    position: relative;
    width: 55rem;
    height: 45rem;
    border: 3px solid #0347F7;
    padding: 2rem;
    border-width: 2px;
    justify-content: center;
    box-shadow: 0 0px 20px 0px #8EDCFF99;  
  }

.login{
    height: 42rem;
}
  
  .form_heading{
    text-align: center;
    font-size: 2.5rem;
    color: #0347F7;
    margin: 0;
  }
  
  .input_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    position: relative;
  }
  
  .input_wrapper label {
    font-size: 1.3rem;
    line-height: 1;
  }
  
  input{
    outline: none;
    font-size: 1.7rem;
    border: 2px solid #333;
    padding: .3rem 1rem;
    border-radius: 0rem;
    transition: .6s all;
  }
  
  input:focus{
    border-color: #0347F7;
    border-radius: .5rem;
  }
  
  .form_class{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    
  }
  
  #btn1{
    outline: none;
    border-radius: 2.5rem;
    border: none;
    color:white;
    background-color: #0347F7;
    font-size: 15px;       
    transition: .3s all;
    text-transform: uppercase;
  }
  
  #btn1:hover{
    transform: translateY(-3%);
  }
  
  #btn1:active {
    transform: translateY(3%);
  }
  
  .double_input_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
  }